table {
    border-collapse: collapse;
    color: white;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
    font-size: 20px;
}

.imageContainer {
    margin-top: -5%;
    margin-left: 18%;
    width: 400px;
    height: 400px;
}

/* Resize images */
.imageContainer img {
    width: 240%;
    height: auto;
}

th,
td {
    border: 1px solid #aaa;
    padding: 5px;
    text-align: left;
    width: 170px;
}