@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
}

html {
    background-color: #C8C8C8;
    height: 100%;
}

body {
    position: relative;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 100%;

}

header h1{
    background: linear-gradient(0deg,#E05E31, #D14519 15%, #E9B69E);
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 85px;
    padding-bottom: 30px;
    text-align: center;
    text-align-last: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #454545;
}

header li {
    float: left;
}

header li:last-child {
  border-right: none;
}

header li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li:hover:not(.active) a{
    background-color: #111;
}

header .active {
    background-color: #FFFFFF;
}

header .active a{
    display: block;
    color: #E26633; /* orange color*/
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


