@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
}

body {
    background-color: #454545;
}

main aside {
    grid-area: header;
    position: static;
    margin: 30px;
}

main aside div {
    padding-bottom: 5px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0px 12px 0 rgba(0, 0, 0, 0.8);
}

main aside div h3 {
    text-align: center;
    background-color: #E26633;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: roboto slab, serif;
    font-style: bold;
    font-weight: 200;
}

main aside div ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
    border-left: 0px;
    margin-left: 0px;
    text-align: left;
}



main header p{
    margin-top: 1px;
    text-align: right;
    color: grey;
    font-style: italic
}

main header h2{
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 0px;
    border-bottom: 1px solid #C8C8C8;
    font-family: roboto slab, serif;
    font-style: bold;
    font-weight: 200;
}

main p {
    margin-left: 40px;
    font-family: adobe-bengali, sans-serif;
    font-style: normal;
    font-weight: 400;
}

main ol{
    padding-left: 20px;
    margin-left: 80px;
}

main ol li{
    padding-left: 20px;
    font-family: adobe-bengali, sans-serif;
    font-style: normal;
    font-weight: 400;
}

main article img {
    max-width: 100%;
	height: auto;
}

main article h2{
    margin-left: 40px;
    font-family: roboto slab, serif;
    font-style: bold;
    font-weight: 200;
}

main article h4{
    margin-left: 40px;
    font-family: roboto slab, serif;
    font-style: bold;
    font-weight: 200;
}

main article ul{
    font-family: adobe-bengali, sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* unvisited link */
main a:link {
  color: #D14519;
}

/* visited link */
main a:visited {
  color: #D14519;
}

main button {
    border-right: 20px;
    border-radius: 4px;
    background-color: #504f4f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

main button:hover {
    background-color: black;
}
  
main button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
main button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
main button:hover span {
    padding-right: 25px;
}
  
main button:hover span:after {
    opacity: 1;
    right: 0;
}

body::after {
    content: '';
    display: block;
    height: 100px; /* Set same as footer's height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background-color: #454545;
    text-align: center;
}

footer img {
    object-fit: cover;
    height: 50px;
}





@media screen and (min-width: 781px) {
    main {
    display: grid;
    grid-template-areas:
        'main main main main header header'
        'main main main main right right';
    grid-gap: 10px;
    padding: 10px;
    }
}

@media screen and (max-width: 780px) {
    main article p {
        padding-right: 30px;
    }
    #logo {
       height: 100%;
    }
}
